<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd">

<configuration>
    <!-- - - - - - - 分页插件，此文件不用修改- - - - - - - - - -->
    <properties>
        <property name="dialect" value="mysql" />
    </properties>
    <!--<plugins>
        &lt;!&ndash;<plugin interceptor="com.albus.mybatis.extend.PaginationInterceptor" />&ndash;&gt;
    </plugins>-->
    <!--<settings>
        <setting name="logImpl" value="LOG4J" />
    </settings>-->
    <typeAliases>
        <typeAlias type="com.rebecca.bean.Demo" alias="Demo" />
        <typeAlias type="com.rebecca.bean.Person" alias="Person"/>
    </typeAliases>
    <mappers>
        <package name="com.rebecca.mapper"/>
    </mappers>

</configuration>
